
.App{
  top: 50px;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  width: 200px;
  margin: 0 auto;
}

.Display{
  height: 40px;
  line-height: 40px;
  background: #a6b1a2;
  text-align: right;
  color:#000;
  font-family: 'Orbitron';
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}


.Button{
  height: 50px;
  width: 50px;
  font-family: 'Orbitron';
  font-size: 20px;
}

.Button:last-child{
  width: 200px;
}